@import "src/variables/variables";


.profile {

  grid-area: c;
  max-width: 100%;
  height: calc(100vh - 60px);
  display: flex;


  .content {
    flex-basis: 80%;
    height: 100%;
    width: 100%;
  }

}