

//Main variables
$mainTextColor: #000;
$mainBackgroundColor: #efefef;
$secondBackgroundColor: #f6f6f6;
$borderColor: #e3e3e3;
$messageColor: silver;
$silverBackground: #f5f5f5;
$mainAlternativeColor: #362e3e;

$bgColor: #f5f5f5;
$sidebarBorder: rgba(0,0,0,.1);
$sidebarBgActive: rgba(0,0,0,.1);
$sidebarTxtColor: rgb(77, 77, 77);
$sidebarIconSize: 24px;
$sidebarBoxShadowNeuroUp: -2px -2px 8px rgba(255,255,255,1),
-2px -2px 12px rgba(255,255,255,0.5),
inset 2px 2px 4px rgba(255,255,255,0.1),
2px 2px 8px rgba(0,0,0,.15);
$boxShadowNeuroDown: inset 2px 2px 4px rgba(255,255,255,0.1),
inset 3px 3px 5px rgba(0,0,0,.15);

$boxShadowNeuroUp: -2px -2px 8px rgba(255,255,255,1),
-2px -2px 12px rgba(255,255,255,0.5),
inset 2px 2px 4px rgba(255,255,255,0.1),
2px 2px 8px rgba(0,0,0,.15);


$svgIconColor: #7d72d6;