$boxShadow:2px 4px 10px rgba(0,0,0,.1);
$txtLogoColor: rgb(68, 68, 68);

.header {
  grid-area: h;
  height: 60px;
  padding: 0;
  margin: 0;
  background: #f6f6f6;
  box-shadow: $boxShadow;
  display: flex;

  align-items: center;

  width: 100%;
  z-index: 1001;
  position: fixed;
}

.header__logo {
  display: block;
  position: relative;
  min-width: 60px;
  width: 60px;
  cursor: pointer;
  transition: .4s;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 110;
  transition:.5s;

  &:hover .menuIcon__menu {
    opacity: 0;
    visibility: visible;
    transition: .7s;
  }
  .menuIcon {


    &__logo {
      position: absolute;
      display: block;
      width: 100%;


      left: 0;
      display: flex;
      top: -30px;
      align-items: center;
      padding: 3px;
      color: $txtLogoColor;
      font-size: 20px;
      margin: 0;
      transition:.3s;
      z-index: 140;
      opacity: 1;

      visibility: visible;
      letter-spacing: 3px;
      span {
        display: block;
        text-align: center;
        color: #fff;
        background: $txtLogoColor;
      }

    }
    &__menu {
      position: absolute;
      display: block;
      width: 34px;
      height: 34px;
      left: 13px;
      top: -17px;
      padding: 0;
      opacity: 0;
      margin: 0;
      transition:.3s;

    }
  }


  .image {
    width: 100%;

  }

}


.icons {
  display: flex;

  margin-left: auto;
  margin-right: 20px;


}