
.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 10fr;

  grid-template-areas:
    "h h "
    "n c "
    "n f ";


}

.routeWrapper {

  grid-area: c;
  max-width: 100%;
  height: calc(100vh - 60px);
  display: flex;

}