@import "src/variables/variables";


.singleUser {
  width: 100%;
  display: block;

  border-bottom: 1px solid $borderColor;

  .link {
    text-decoration: none;
    color: #000;
    display:  flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    overflow: hidden;

    .img {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
    .content {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 20px;
      .name {
        flex-basis: 50%;
        line-height: 30px;

      }
      .message {
        flex-basis: 50%;
        color: $messageColor;
        line-height: 27px;
        font-size: 15px;
        width: 100%;

        height: 100%;
        overflow: hidden;

         
      }
    }
  }
}