@import "src/variables/variables";


.wrapper {
  margin-top: auto;
  height: 70px;
  width: 100%;
  border-top: 1px solid rgba(183, 183, 183, 0.1);
  display: flex;
  align-items: center;
  background:   #ebebeb;
  .buttons {
    display: flex;
    margin-left: 20px;
    .iconBtn {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      box-shadow: $boxShadowNeuroUp;
      svg {
        fill: #696969;
      }
    }
  }
  .inputBlock {
    margin-left: 20px;
    width: 100%;
    position: relative;
    display: flex;
    input {
      width: 90%;
      border: none;
      height: 40px;
      background: rgba(255,255,255,.8);
      border-radius: 5px;
      margin-right: 8px;
      outline: none;
      padding-left: 15px;
    }
    .btn {

      border:none;
      outline: none;
      width: 40px;
      height: 40px;
      background: $svgIconColor;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s ease-in-out;
      &:hover {
        background: #fff;
        svg {
          fill: $svgIconColor;
        }
      }
      svg {
        fill: #fff;

      }
    }
  }
}